
body { padding-top: 20px; padding-bottom: 40px; font-family: 'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif'; font-size: 16px; background-color: #262626; color: #999999;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif'; font-weight: normal;}

blockquote p { font-size: 16px; line-height: 1.6em; }

/* Masthead */
.header, .footer, .header h3 { font-family: 'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif'; font-size: 1.15em; font-weight: bold; color: #999999; }

nav ul li, header ul li { font-family:'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif'; font-size: 1.15em; font-weight: bold; color: #999999; }

nav ul li, footer ul li {font-family:'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif'; padding: 0px; margin-right: 20px; display: inline; font-size: 1.15em; font-weight: bold; color: #999999;}

/* Navigation */
h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #999999; }

img.avatar { margin-bottom: 30px; }

img.rounded-corners { margin-bottom: 30px; border-radius: 3px; vertical-align: middle;}

.content { display: flex; align-items: center; flex-wrap: wrap; justify-content: center;}

ul.posts { margin: 20px auto 40px; font-size: 1.5em;}

ul.posts li { list-style: none;}
		
/* Custom container */
.container > hr { margin: 30px 0; }
.container > hr.footer {margin-bottom: 15px; }

/* Jumbotron */     
.jumbotron { margin: 80px 0; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing p { line-height: 25px; color: #999999; }
.marketing p a { text-decoration: none; color: #999999; }
.marketing p.lead { line-height: 30px; }


.step { border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	width: 35px; 
	height: 35px; 
	background: #4679BD; 
	color: #999999; 
	float: left;
	text-align: center;
	font-size: 24px;
	padding-top: 5.5px;
	margin: 5px 15px 0px 0px;
	font-family: 'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif'; }

