body {
    width: 100%;
    background-color: rgb(38, 38, 38);
    font-family:'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif';
    color: rgb(153, 153, 153);
}
nav ul li, header ul li {
    font-family:'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif';
    font-size: 1.25em;
    font-weight: bold;
}
nav ul, footer ul {
    font-family:'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    font-size: 1.25em;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'HelveticaNeue', 'Arial', 'Sans-Serif';
    font-style: normal;
    font-size: 1.65em;
    line-height: 1.0em;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: justify;
    text-justify: inter-word;
}
header {
    border-bottom: none;
}
footer {
    margin-top: none;
    border-top: 2.25px solid #d5d5d5;
    font-size: 1.0em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.rounded-corners { 
    border-radius: 3px;
}
