body {
    margin: 60px auto;
    width: 100%;
    background-color: rgb(38, 38, 38);
    font-family:'Helvetica', 'Sans-Serif', 'Arial';
    color: rgb(153, 153, 153);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Sans-Serif', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Sans-Serif', 'Arial';
}
p {
    font-family:'Helvetica', 'Sans-Serif', 'Arial';
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.0em;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
header {
    border-bottom: none;
    font-size: 1.em;
}
footer {
    margin-top: 20px;
    border-top: none;
    font-size: 1.em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.rounded-corners { 
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}
