@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Regular.eot');
    src: url('/fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('/fonts/NunitoSans-Regular.woff') format('woff'),
        url('/fonts/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body { padding-top: 20px; padding-bottom: 40px; font-family: 'Nunito Sans'; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Nunito Sans'; font-weight: 700; line-height: 1.0; }

ul {
  list-style-type: none;
}

blockquote p { font-size: 16px; line-height: 1.6em; }

.iconify {
   font-size: 20px;
   line-height: 1em;
   vertical-align: top;
}

/* Masthead */
.header, .footer, .header h3 { font-family: 'Nunito Sans'; font-weight: normal; }

/* Navigation */
h3.text-muted a { font-family: 'Nunito Sans'; text-decoration: none; color: #140202; }
h3.text-muted a:hover { font-family: 'Nunito Sans'; text-decoration: none; color: #007bff; }

img.custom { margin-bottom: 30px; }
		
/* Custom container */
.container > hr { margin: 30px; }
.container > hr.footer {margin-bottom: 15px; }

/* Jumbotron */     
.jumbotron { margin: 80px 0; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing p { font-size: 20px; line-height: 22px; }
.marketing p.lead { font-size: 28px; line-height: 30px; }
.marketing p.publications { font-size: 16px; line-height: 18px; }
.enumerating { row-gap: 0px; }

.posts-list h1 { margin: 0; }
.posts-list h2 { margin: 0; }
.posts-list p { margin: 0; }

.nav-pills li { margin-left: 15px; }

/* science */
iframe {font-family: 'Nunito Sans'; font-size: 16px; margin-left: auto; margin-right: auto}

.step { border-radius: 50%; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	width: 35px; 
	height: 35px; 
	background: #4679BD; 
	color: #FFF; 
	float: left;
	text-align: center;
	font-size: 24px;
	padding-top: 5.5px;
	margin: 5px 15px 0px 0px;
	font-family: 'Nunito Sans'; }

