---
layout: default
title: Contact
description: contact
category: contact
tag: contact
---
<div class="contact">
        
        <p class="text-center">
          <img class="img-custom" alt="yuon" src="/img/yuon.png"/>
          <!-- <br>
          <caption align="bottom">per aspera ad astra</caption> -->
        </p>
        
	<p class="text-center">If you wish to discuss either end of the wild blue yonder, do not hesitate to reach out</p>
        
	{% if site.data.social-media %}
	<div id="social-media">
	    {% assign sm = site.data.social-media %}
	    {% for entry in sm %}
		{% assign key = entry | first %}
		{% if sm[key].id %}
		    <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }}"></i></a>
		{% endif %}
	    {% endfor %}
	</div>
	{% endif %}
</div>
