<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<a href="mailto:bmimica@princeton.edu">bmimica@princeton.edu</a>
	<p><small>&copy; github/bartulem {{ 'now' | date: "%Y" }}</small></p>
	</div>
	<div class="col-sm-4">
	<p class="float-right">
	<small>
	<a href="https://orcid.org/0000-0001-6404-0560" target="_blank" ><i class="fab fa-orcid" style='font-size:20px'></i></a>
	<a class="icon-github social-button borderless static" target="_blank" href="https://github.com//bartulem"></a>
	<a class="icon-linkedin social-button borderless static" target="_blank" href="https://www.linkedin.com/in//bartul-mimica"></a>
	<a class="icon-twitter social-button borderless static" target="_blank" href="https://www.twitter.com/bartulem"></a>
	</small></p>
	</div>
	</div>
</div> <!-- /footer -->


