<div class="footer">
	<div class="row">
	<div class="col-sm-4">
	<a href="mailto:bmimica@princeton.edu">bmimica@princeton.edu</a>
	</div>
	<div class="col-sm-4" style="text-align:center">
	<p><small>&copy; github/bartulem {{ 'now' | date: "%Y" }}</small></p>
	</div>
	<div class="col-sm-4">
	<p class="float-right">
	<small>
	<a href="https://orcid.org/0000-0001-6404-0560" target="_blank" ><i class="fab fa-orcid" style='font-size:20px'></i></a>
	<a href="https://github.com//bartulem" target="_blank" ><i class="fab fa-github" style='font-size:20px'></i></a>
	<a href="https://www.linkedin.com/in//bartul-mimica" target="_blank" ><i class="fab fa-linkedin" style='font-size:20px'></i></a>
	<a href="https://www.twitter.com/bartulem" target="_blank" ><i class="fab fa-twitter" style='font-size:20px'></i></a>
	</small></p>
	</div>
	</div>
</div> <!-- /footer -->


