<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<p><small>&copy; github/bartulem 2021</small></p>
	</div>
	<div class="col-sm-4">
	<p class="float-right">
	<small>
	<a class="icon-github social-button grey" target="_blank" href="https://github.com//bartulem"></a>
	<a class="icon-linkedin social-button grey" target="_blank" href="https://www.linkedin.com/in//bartul-mimica"></a>
	<a class="icon-twitter social-button grey" target="_blank" href="https://www.twitter.com/bartulem"></a>
	</small></p>
	</div>
	</div>
</div> <!-- /footer -->
