<div class="header">
	<ul class="nav nav-pills float-right">
		<li class="{{ page.code }}"><a href="/code" title="code">code</a></li>
		<li class="{{ page.write }}"><a href="/write" title="write">write</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Bartul Mimica | {{ page.category }}</a></h3>
</div>

<div class="grid" id="searchBar">
	<div id="search">
		<form role="search" method="get" action="{{ site.baseurl }}//search/">
  			<input id="searchString" name="searchString" placeholder="search this site" type="text">
  			<input id="searchButton" name="googleSearchName" type="submit" value="search">
		</form>
	</div>
</div>
