<head>
	<link href="/scribe/atom.xml" type="application/rss+xml" rel="alternate" title="latest 5 blog posts" />
	
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="category" content="{{ page.category }}">
	<meta name="author" content="Bartul Mimica">

	<title> Bartul Mimica | {{ page.category }} </title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	
	{% if page.tipue_search_active or layout.tipue_search_active %}
	<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
	<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
	<script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
	<script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
	{% endif %}
	
	{% include analytics.html %}	
</head>
