<head>
	<link href="/inexile/atom.xml" type="application/rss+xml" rel="alternate" title="latest 5 inexile posts" />
	<link href="/science/atom.xml" type="application/rss+xml" rel="alternate" title="latest 5 science posts" />
	
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="category" content="{{ page.catname }}">
	<meta name="author" content="Bartul Mimica">

	<title> Bartul Mimica | {{ page.tag }} </title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	
	{% include analytics.html %}	
</head>
