<div class="postlist">
    {% for post in paginator.posts %}
      {% if post.catname contains 'in exile' %}
        <ul class="listnotes list-unstyled">
          <li>
            <span>{{ post.date | date_to_string }} | </span> <a href="{{ post.url }}">{{ post.title }}</a>

            <p>{{ post.description }}</p>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">previous</a>
  {% else %}
    <span class="previous">previous</span>
  {% endif %}
  <span class="sep">
    |
  </span>
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next</a>
  {% else %}
    <span class="next ">next</span>
  {% endif %}
</div>

.pagination .page_number  { float:right }

