<div class="postlist">
    {% for category in site.category %}
      <h3>{{ category[0] }} | {{ category[1] }}</h3>
      {% if category[0] == 'inexile' %}
        {% for post in paginator.category[1] %}
          <ul class="listnotes list-unstyled">
            <li>
              <span>{{ post.date | date_to_string }} | </span> <a href="{{ post.url }}">{{ post.title }}</a>

              <p>{{ post.description }}</p>
            </li>
          </ul>
        {% endfor %}
      {% endif %}
    {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">previous</a>
  {% else %}
    <span class="previous">previous</span>
  {% endif %}
  <span class="sep">
      <a>&nbsp;|&nbsp;</a>
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next</a>
  {% else %}
    <span class="next ">next</span>
  {% endif %}
  <span class="page_number" style="width: 100%;text-align: right">
    page {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
</div>
