<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	
	<body>
		<div class="container">
			
			{% include header.html %}
			
			{{ content }}
			
			{% include footer.html %}
		
		</div> <!-- /container -->
	
	
		{% include scripts.html %}

	<script id="dsq-count-scr" src="//bartulem-github-io.disqus.com/count.js" async></script>
	</body>

</html>

<script src="https://raw.githubusercontent.com/DataMcFly/jquery.camelhunter/master/jquery.camelhunter.min.js"></script>
<script type="text/javascript">
	$("#search-field").camelHunter({
		onKeyUp: true,
		rss: "/search.xml",
		results: "#results"
	});
</script>
